body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box1{
    width: 30%;
    height: 40px;
    margin:0;
    border: 0;
    border-radius: 20px;
    color: rgb(58, 58, 58);
    background-image:linear-gradient(rgba(9, 39, 86,0.6),rgba(86, 9, 68,0.6));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}



#button{
    width: 15%;
    height: 40px;
    margin:0;
    border: 0;
    border-radius: 20px;
    color: white;
    background-color:#108165;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    
}

#first{
    width: 50%;
    height: auto;
    
    float: left;
}


#second{
    width: 50%;
    height: auto;
    
    float: right;
}

#block{
    background-color: rgb(71, 31, 31);
    background-size: 0 50%; 


}